{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}
{% block title %}Step Added{% endblock %}

{% block content %}
    <body class="gradient-background">
        <a href="{{url_for('home')}}">
            <button type="button" class="mx-auto p-2 btn btn-primary btn-lg">Return to Home</button>
        </a>
    
        <a href="{{url_for('add_new_step', task_id=task_id)}}">
            <button type="button" class="mx-auto p-2 btn btn-primary btn-lg">Add new Step</button>
        </a>
    </body>
{% endblock %}
